h1 {
  color: silver;
  border-style: dotted;
  border-color: gold;
  font-weight: lighter;
}

p {
  color: wheat;
  font-family:fantasy;
  font-size: 30px;
  text-shadow: 0 3px black;
}

a {
  color: skyblue;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  background-color: darkgreen;
}
